.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 0.5rem;
}

.status-bar__item {
  display: flex;
  align-items: center;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}

.status-circle--green {
  background-color: rgb(0, 244, 0);
}

.status-circle--red {
  background-color: red;
}

.status-badge {
  margin-right: 10px;
}

.status-badge-danger {
  background-color: red;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
}